<?xml version="1.0"?>
<config>
    <modules>
        <Bluecom_Addstep>
            <version>0.1.0</version>
        </Bluecom_Addstep>
    </modules>
    <global>
        <models>
            <bluecom_addstep>
                <class>Bluecom_Addstep_Model</class>
                <resourceModel>bluecom_addstep_resource</resourceModel>
            </bluecom_addstep>
            <bluecom_addstep_resource>
                <class>Bluecom_Addstep_Model_Resource</class>
            </bluecom_addstep_resource>
            <checkout>
                <rewrite>
                    <type_onepage>Bluecom_Addstep_Model_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
        <blocks>
            <bluecom_addstep>
                <class>Bluecom_Addstep_Block</class>
            </bluecom_addstep>
            <checkout>
                <rewrite>
                    <onepage>Bluecom_Addstep_Block_Onepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <bluecom_addstep>
                <class>Bluecom_Addstep_Helper</class>
            </bluecom_addstep>
        </helpers>
    </global>
    <frontend>
        <routers>
            <bluecom_addstep>
                <use>standard</use>
                <args>
                    <module>Bluecom_Addstep</module>
                    <frontName>addstep</frontName>
                </args>
            </bluecom_addstep>
            <checkout>
                <args>
                    <modules>
                        <bluecom_addstep before="Mage_Checkout">Bluecom_Addstep</bluecom_addstep>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <bluecom_addstep>
                    <file>newstep.xml</file>
                </bluecom_addstep>
            </updates>
        </layout>
    </frontend>
</config>