<?xml version="1.0"?>
<config>
    <modules>
        <Bluecom_CustomAttribute>
            <version>0.1.1</version>
        </Bluecom_CustomAttribute>
    </modules>
    <global>
        <models>
            <bluecom_customattribute>
                <class>Bluecom_CustomAttribute_Model</class>
                <resourceModel>bluecom_customattribute_resource</resourceModel>
            </bluecom_customattribute>
            <bluecom_customattribute_resource>
                <class>Bluecom_CustomAttribute_Model_Resource</class>
            </bluecom_customattribute_resource>
        </models>
        <blocks>
            <bluecom_customattribute>
                <class>Bluecom_CustomAttribute_Block</class>
            </bluecom_customattribute>
        </blocks>
        <helpers>
            <bluecom_customattribute>
                <class>Bluecom_CustomAttribute_Helper</class>
            </bluecom_customattribute>
        </helpers>

        <resources>
            <bluecom_customattribute_setup>
                <setup>
                    <module>Bluecom_CustomAttribute</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bluecom_customattribute_setup>
            <bluecom_customattribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bluecom_customattribute_write>
            <bluecom_customattribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bluecom_customattribute_read>
        </resources>

        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <custom_attribute/>
                    </product_attributes>
                </item>
            </quote>
        </sales>

        <events>
            <sales_quote_item_set_product>
                <observers>
                    <bluecom_customattribute>
                        <class>Bluecom_CustomAttribute_Model_Observer</class>
                        <method>salesQuoteItemSetCustomAttribute</method>
                    </bluecom_customattribute>
                </observers>
            </sales_quote_item_set_product>
        </events>

        <fieldsets>
            <sales_convert_quote_item>
                <custom_attribute>
                    <to_order_item>*</to_order_item>
                </custom_attribute>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <custom_attribute>
                    <to_quote_item>*</to_quote_item>
                </custom_attribute>
            </sales_convert_order_item>
        </fieldsets>
    </global>
</config>