<?xml version="1.0"?>
<config>
    <modules>
        <Bluecom_Codemodel>
            <version>0.1.1</version>
        </Bluecom_Codemodel>
    </modules>
    <global>
        <models>
            <bluecom_codemodel>
                <class>Bluecom_Codemodel_Model</class>
                <resourceModel>bluecom_codemodel_resource</resourceModel>
            </bluecom_codemodel>
            <bluecom_codemodel_resource>
                <class>Bluecom_Codemodel_Model_Resource</class>
            </bluecom_codemodel_resource>
        </models>
        <blocks>
            <bluecom_codemodel>
                <class>Bluecom_Codemodel_Block</class>
            </bluecom_codemodel>
        </blocks>
        <helpers>
            <bluecom_codemodel>
                <class>Bluecom_Codemodel_Helper</class>
            </bluecom_codemodel>
        </helpers>

        <resources>
            <bluecom_codemodel_setup>
                <setup>
                    <module>Bluecom_Codemodel</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bluecom_codemodel_setup>
            <bluecom_codemodel_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bluecom_codemodel_write>
            <bluecom_codemodel_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bluecom_codemodel_read>
        </resources>

        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <code_model/>
                    </product_attributes>
                </item>
            </quote>
        </sales>

        <events>
            <sales_quote_item_set_product>
                <observers>
                    <bluecom_codemodel>
                        <class>Bluecom_Codemodel_Model_Observer</class>
                        <method>addCodemodelAttribute</method>
                    </bluecom_codemodel>
                </observers>
            </sales_quote_item_set_product>
        </events>

        <fieldsets>
            <sales_convert_quote_item>
                <code_model>
                    <to_order_item>*</to_order_item>
                </code_model>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <code_model>
                    <to_quote_item>*</to_quote_item>
                </code_model>
            </sales_convert_order_item>
        </fieldsets>
    </global>
</config>